.App {
    font-family: Griffy;
    width: 100%;
    position: relative;
    height: 100vh;
}


.loading {
    position: relative;
    width: 100%;
    height: 100vh;
}

.loading p {
    position: absolute;
    font-family: sans-serif;
    color: #fde9df;
    margin-left: 40%;
}


h1 {
    color: #fde9df;
    text-align: center;
    font-weight: 500;
    font-size: 46px;
}

.start {
    border: 1px solid #fde9df;
    outline: none;
    background-color: transparent;
    color: #fde9df;
    padding: 20px 40px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: .5s ease-in-out;
    font-size: 22px;
}

.start:hover {
    background-color: #fde9df;
    color: #0fc9e7;
}


.score {
    font-size: 28px;
    color: #f8da5b;
    font-weight: 900;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}

.next {
    background-color: #fdb44b;
    font-size: 18px;
    color: #fde9df;
    font-weight: 900;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 40%;
}

.quest-card {
    width: 100%;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

.red {
    background-color: #ff0000 !important;
    color: #fde9df;
}

.green {
    background-color: #9bdf46 !important;
    color: #fde9df;
}

.number {
    font-size: 20px;
    color: #fde9df;
    font-weight: 900;
}

.question {
    background-color: #fde9df;
    border-radius: 20px;
    width: 100%;
    text-align: center;
    padding: 30px 20px;
    font-weight: 900;
}



#answers {
    background-color: #fde9df;
    border: none;
    border-radius: 10px;
    outline: none;
    width: 105%;
    padding: 20px 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #0fc9e7;
  }
  
  ::-webkit-scrollbar-track {
    background: #0fc9e7;
  }
  
  ::-webkit-scrollbar-corner {
    background: #0fc9e7;
  }

  @media (max-width: 768px){
            h1 {
                font-size: 36px;
            }
            .score {
                font-size: 20px;
            }
            .number {
                font-size: 16px;
            }
            .quest-card {
                width: 70%;
            }
            .question {
                padding: 20px 10px;
            }
            #answers {
                padding: 10px 10px;
                margin-bottom: 10px;
            }
            .next {
                font-size: 14px;
            }         

  }

  @media (min-width: 768px){
    h1 {
        font-size: 46px;
    }
    .score {
        font-size: 28px;
    }
    .number {
        font-size: 20px;
    }
    .quest-card {
        width: 70%;
    }
    .question {
        padding: 20px 20px;
    }
    #answers {
        padding: 20px 10px;
        margin-bottom: 10px;
    }
    .next {
        font-size: 18px;
        margin-left: 48%;
        margin-top: 2%;
    }         

}
  